/*Header*/

header {
    background: linear-gradient(#56B870 0%,#a5c956 100%);
    position: sticky;
    top:0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem 1rem 1rem;
    margin: 0 auto;
}

.menu {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.menu li > a, .contact {
    color:white;
    text-decoration: none;
}

/*Main*/

/*Hero*/
#hero {
    background: linear-gradient(#C655BE 0%,#cf0404 100%);
    height: calc(100vh - 400px);
    display: grid;
    place-content: center;
}
 
h1 {
    color:white;
}

/* Projects*/
#projects {
    background: linear-gradient(#7abcff 0%,#60abf8 44%,#4096ee 100%);
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project {
    background: black;
    display: grid;
    place-items: center;
    border-radius: 5px;
    height: 200px;
}

.project > img {
    width:25%;
}

/*Footer*/

footer {
    background: linear-gradient(#F3AAAA 0%,#febf04 100%);
}

.footer-wrapper > h4 {
    color: white;
    text-align: center;
    margin:0 auto;
    padding: 1rem;
}

